[data-testid="stAppViewContainer"] {
    background-color: white;
    scroll-behavior: smooth;
}

[class="st-emotion-cache-r421ms e1f1d6gn0"] {
    background-color: white;
}

[data-testid="stAppViewBlockContainer"]{
	padding-top: 2rem;
}
.btn {
    background-color: #1c3b29;
    border: #3d6154;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
#section2{
	z-index:-1;
	transform: translateY(-500px) !important;
}
[data-testid="stVerticalBlockBorderWrapper"] {
    border: 1px solid transparent;
}

body, html {
    overflow-x: hidden;
}

.nav-list {
    display: flex;
    justify-content: center;
}

.nav-link {
    text-align: center;
    justify-content: center;
    -webkit-text-stroke: 0.3px #fff;
}

.navigation {
    border-bottom: 0.5px solid lightgrey;
    left: 0rem;
    background-color: white;
    width: 100vw;
    height: 5vh;
    position: fixed;
}

[class="stDeployButton"] {
    visibility: hidden;
    display: none;
}

[class="st-emotion-cache-czk5ss e16jpq800"] {
    visibility: hidden;
}

[class="element-container st-emotion-cache-1aege4m e1f1d6gn4"] {
}

body {
    margin: 10px;
    padding: 10px;
    font-family: Arial, sans-serif;
}

.navigation {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 5px;
    top: 0rem;
    right: 0rem;
    position: fixed;
    z-index: 999;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%; /* Adjusted width */
    transform: translateX(0%);
}

.nav-item {
    display: block;
    float: left;
    margin-right: 10px;
}

.nav-link {
    display: block;
    text-align: center;
    text-decoration: none;
}

.nav-link:hover {
    border-radius: 5px;
    color: white;
}

button[title="View fullscreen"] {
    visibility: hidden;
}

:root {
    --cards: 4;
    --cardHeight: 50vh;
    --cardTopPadding: 0.5em;
    --cardMargin: 4vw;
}

.containercards {
    width: 50%;
    height: 100%;
    transform: translateX(8%) translateY(-23%) !important;
}

#cards {
    list-style: none;
    padding-left: 20px;
    display: grid;
    width: 700px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--cards), var(--cardHeight));
    gap: var(--cardMargin);
    padding-bottom: calc(var(--cards) * var(--cardTopPadding));
    margin-bottom: var(--cardMargin);
}

#card1 {
    --index: 1;
}

#card2 {
    --index: 2;
}

#card3 {
    --index: 3;
}

#card4 {
    --index: 4;
}

.card {
    position: sticky;
    top: 450px;
    padding-top: calc(var(--index) * var(--cardTopPadding));
}

@keyframes fadeInOut {
    0% { opacity: 0.1; }
    100% { opacity: 1; }
}

#card1 .card-body {
    background-color: #1c3b29;
    color: white;
    scroll-margin-top: 250px; /* Adjust based on card position */
}

#card2 .card-body {
    /* background-color: #7EC4CF; */
    background-color: #1c3b29;
    color: white;
    scroll-margin-top: 250px; /* Adjust based on card position */
}

#card3 .card-body {
    background-color: #1c3b29;
    color: white;
    scroll-margin-top: 250px; /* Adjust based on card position */
}

#card4 .card-body {
    background-color: #1c3b29;
    color: white;
    scroll-margin-top: 250px; /* Adjust based on card position */
}

.card-body {
    box-sizing: border-box;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.3);
    height: var(--cardHeight);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s;
    opacity: 1; /* Initially set opacity */
    animation: fadeIn 3s forwards; /* Animation to fade in */
    animation-play-state: paused; /* Pause animation initially */
}

.card-body:hover {
    transform: scale(1.1);
}

.card.in-view {
    animation-play-state: running; /* Start animation when in view */
}

h2 {
    position: relative;
    font-size: 2.5rem;
    color: white;
}

body, html {
    height: 100%;
    scroll-behavior: smooth;
    overflow: hidden;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
}
[data-testid="stButton"]{
	
}
[data-testid="baseButton-secondary"] {
    transform: translateX(-155%) translateY(-1050%) !important;
    width: 170px;
    height: 45px;    
    border: 2px solid #3d6154;
    background-color: #1c3b29;
    position: relative;
    color: white;
}

.scroll-down1 {
    height: 40px;
    width: 25px;
    border: 2px solid #1c3b29;
    left: 50%;
    position: absolute;
    border-radius: 20px;
    cursor: pointer;
    transform: translateY(-1110%) translateX(15%);
}

.scroll-down1::before,
.scroll-down1::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 7px;
    width: 7px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid #1c3b29;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down1 1s ease-in-out infinite;
}

.scroll-down1::before {
    top: 30%;
    animation-delay: 0.3s;
}

@keyframes scroll-down1 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        top: 90%;
        opacity: 0;
    }
}

#welcomeText {
    position: relative;
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 4px;
    overflow: hidden;
    color: #1c3b29;
    top: 0rem;
	left: 37% !important;
    transform: translateY(-50px) !important;
}

.logo {
    position: relative;
    width: 25vw;
    transform: translateX(143%) translateY(27%) !important;
}

.nose {
    position: relative;
    max-height: 300px;
    width: 25vw;
    transform: translateX(-66%) translateY(-92%) !important;
    font-family: Sans;
    font-size: 1.2rem;
    font-weight: bold;
    color: #1c3b29;
    text-align: center;
}

[data-testid="stIFrame"] {
    position: relative;
    width: 40%;
    transform: translateX(-70%) translateY(-90%) !important;
}

.card-content {
    font-size: 1.2rem;
    display: flex;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    margin: 0px;
    font-family: Ubuntu;
    width: 650px;
    height: 440px;
    overflow: hidden;
    text-align: center;
}

@media screen and (max-width: 490px) {
    #welcomeText {
        position: relative;
        font-family: Ubuntu;
        font-weight: bold;
        font-size: 1.2em;
        letter-spacing: 4px;
        overflow: hidden;
        color: #1c3b29;
        top: 0rem;
        left: 16%;
        transform: translateY(-90px);
    }

    .logo {
        position: relative;
        width: 200px;
        transform: translateX(29%) translateY(-25%);
    }

    .nose {
        position: relative;
        max-height: 200px;
        width: 75vw;
        transform: translateX(0%) translateY(160%);
        font-family: Sans;
        font-size: 1em;
        font-weight: bold;
        color: #1c3b29;
        text-align: center;
    }

    [data-testid="stButton"] {
        margin: 10%;
    }

    [data-testid="baseButton-secondary"] {
        display: inline-block;
        transform: translateX(28%) translateY(-693%);
        width: 135px;
        height: 35px;
        border: 2px solid #3d6154;
        background-color: #1c3b29;
        position: absolute;
        margin: 5%;
    }

    [data-testid="stIFrame"] {
        position: relative;
        width: 100%;
        transform: translateX(0%) translateY(-38%);
    }

    .scroll-down {
        position: absolute;
        bottom: 20px;
    }

    .scroll-down1 {
        display: none;
    }

    .containercards {
        width: 50%;
        transform: translateX(-40%) translateY(-10%);
    }

    #cards {
        width: 300px;
    }

    .card-content {
        font-size: 1em;
        width: 250px;
        height: 200px;
    }

    .card {
        position: sticky;
        top: 300px;
        padding-top: calc(var(--index) * var(--cardTopPadding));
    }
}

[data-testid="baseLinkButton-secondary"] {
    background-color: #1c3b29;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left:70px;
}

[class="st-emotion-cache-j6qv4b e1nzilvr4"] {
    color: white;
}

[data-testid="stHeadingWithActionElements"] {
    display: none;
}

[data-testid="stToolbar"] {
    display: none;
}

[data-testid="stHeader"] {
    display: none;
}


@media screen  and (min-width: 491px) and (max-width: 1134px) {
    #welcomeText {
        position: relative;
        font-family: Ubuntu;
        font-weight: bold;
        font-size: 1.0rem;
        letter-spacing: 4px;
        overflow: hidden;
        color: #1c3b29;
        top: 0rem;
        left: 36.5% !important;
        transform: translateY(-62px) !important;
    }

    .logo {
        position: relative;
        width: 13rem;
        transform: translateX(160%) translateY(90%);
      
    }

    .nose {
        position: relative;
        max-height: 300px;
        width: 30vw;
        margin-top: 30px;
        transform: translateX(-83%) translateY(-7%);
        font-family: Sans;
        font-size: 0.9rem;
        font-weight: bold;
        color: #1c3b29;
        text-align: center;
        left: 30%;
    }

    [data-testid="baseButton-secondary"] {
        transform: translateX(-64%) translateY(-1050%);
        width: 100px;
        height: 30px;
        border: 2px solid #3d6154;
        background-color: #1c3b29;
        position: relative;
        margin-left: 20%;
    }
	[data-testid="baseButton-secondary"] > [data-testid="stMarkdownContainer"] > p{
		font-size:0.8rem;
	}

    .scroll-down1 {
        height: 35px;
        width: 18px;
        border: 2px solid #1c3b29;
        left: 50%;
        position: absolute;
        border-radius: 20px;
        cursor: pointer;
        transform: translateY(-1360%) translateX(15%);
    }

    [data-testid="stIFrame"] {
        position: relative;
        width: 50%;
        transform: translateX(-86%) translateY(-70%);
        left: 30%;
    }

    .containercards {
        width: 100%;
        transform: translateX(4%);
    }

    #cards {
        width: 60vw;
        margin-bottom: 2vw;
    }

    .card-content {
	    top: 0rem;
        font-size: 0.8rem;
        width: 50vw;
        height: 200px;
    }

    .card-body {
        height: 50vh;
    }
	[data-testid="stAppViewContainer"]{
		overflow-x: hidden !important;
	}
}
